.title-container {
  background-color: #00838F;
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 5px 0;
}
