<div class="page-container">
  <!-- Titre selon le pays selectionner-->
  <app-title [pageTitle]="selectedCountry?.country"></app-title>

  <div class="info-container">
    <!-- Case 1: Nombre de participations aux JO -->
    <div class="info-box">
      <h5>Number of entries</h5>
      <p>{{ selectedCountry?.participations?.length || 0 }}</p>
    </div>

    <!-- Case 2: Nombre total de médailles obtenues -->
    <div class="info-box">
      <h5>Total number medals</h5>
      <p>{{ getTotalMedals() }}</p>
    </div>

    <!-- Case 3: Nombre total d'athlètes présentés aux JO -->
    <div class="info-box">
      <h5>Total number of athletes</h5>
      <p>{{ getTotalAthletes() }}</p>
    </div>
  </div>

  <!-- Graphique -->
  <div class="chart-container">
    <!--<canvas baseChart
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [legend]="lineChartLegend"
      [chartType]="lineChartType">
    </canvas>-->
    <canvas id="chartDetail"> </canvas>
  </div>

  <!-- Bouton retour a la page home -->
  <div class="back-button-container">
    <button class="back-button" (click)="goBack()">Retour</button>
  </div>
</div>
