// Définition des couleurs par pays
$france-color: #FF0000 ;
$italy-color: #0000FF ;
$espagne-color: #FFFF00;
$usa-color: #00FF00;
$allemagne-color: #7f00ff;

// Styles pour les sections par pays
.france-section {
  background-color: $france-color;
  transition: background-color 0.3s; // Transition de couleur pour l'effet de survol
}

.italy-section {
  background-color: $italy-color;
  transition: background-color 0.3s;
}

.espagne-section {
  background-color: $espagne-color;
  transition: background-color 0.3s;
}

.usa-section {
  background-color: $usa-color;
  transition: background-color 0.3s;
}

.allemagne-section {
  background-color: $allemagne-color;
  transition: background-color 0.3s;
}

// Styles au survol
.france-section:hover {
  background-color: lighten($france-color, 10%); // Éclaircit la couleur de 10% au survol
}

.italy-section:hover {
  background-color: lighten($italy-color, 10%);
}

.espagne-section:hover {
  background-color: lighten($espagne-color, 10%);
}

.usa-section:hover {
  background-color: lighten($usa-color, 10%);
}

.allemagne-section:hover {
  background-color: lighten($allemagne-color, 10%);
}
