.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/*-- Partie graphique --*/
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
}

/*-- Partie pour le responsive --*/
@media screen and (max-width: 480px) {
  .chart-container {
    flex-direction: column;
    width: 100%;
  }
}
