.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

/*-- Partie titre --*/
.title-container {
  background-color: #00838F;
  padding: 2px;
  border-radius: 10px;
  box-sizing: border-box;
}

.title {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 5px 0;
}

/*-- Partie graphique --*/
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  box-sizing: border-box;
  padding: 10px;
}

/*-- Partie pour le responsive --*/
@media screen and (max-width: 480px) {
  .chart-container {
    flex-direction: column;
    width: 100%;
  }
}
